@import url('https://fonts.googleapis.com/css2?family=Bitcount+Ink:wght@100..900&family=WDXL+Lubrifont+JP+N&display=swap');
@import "tailwindcss";

@theme{
  --color-ben: #ce09e3;
  --color-may: #95ff00;
  --font-bit: "Bitcount Ink", system-ui;
  --font-WDXL: "WDXL Lubrifont JP N", sans-serif;
  --font-ben: "Bitcount Ink", "WDXL Lubrifont JP N", sans-serif;
  --spacing-ben: 22px;
  --spacing-may: 11px;
}

@layer components{
  .btn1{
    @apply bg-blue-400 text-white p-1 px-4 inline-block
              rounded-md cursor-pointer select-none text-center text-2xl
              hover:bg-blue-500 w-full;
  }
}
