@import url('https://fonts.googleapis.com/css2?family=Bitcount+Ink:wght@100..900&family=WDXL+Lubrifont+JP+N&display=swap');
@import "tailwindcss";

.a{
  box-shadow: 0 0 blur width #fff;
  color: #4c4c4c98;
}

@theme{
  --color-ben: #ce09e3;
  --color-may: #95ff00;
  --font-bit: "Bitcount Ink", system-ui;
  --font-WDXL: "WDXL Lubrifont JP N", sans-serif;
  --font-ben: "Bitcount Ink", "WDXL Lubrifont JP N", sans-serif;
  --spacing-ben: 44px;
  --spacing-may: 11px;
  --radius-pill: 999999px;
  --radius-ellipse: 50%;
  --border-width-ben1: 100px;
  --border-width-may1: 200px;
  --shadow-ben1: 0 0 12px 12px #4c4c4c98;
}

@layer components{
  .btn1{
    @apply bg-blue-400 text-white p-1 px-4 inline-block
              rounded-md cursor-pointer select-none text-center text-2xl
              hover:bg-blue-500 w-full;
  }
}
